.cell {
  width: 80px;
  aspect-ratio: 1;
  padding-bottom: 100%;
  border: 0;
  background-color: bisque;
  border-radius: 8px;
  transition: all .3s ease-in-out;
  position: relative;
}
.cell:hover {
  cursor: pointer;
  box-shadow: 1px 2px 10px 2px cornflowerblue;
}

.cell.matched {
  transform: rotateY(180deg);
  cursor: default;
  pointer-events: none;
}

.cell_red:before {
  background-color: red;
}
.cell_green:before {
  background-color: green;
}
.cell_blue:before {
  background-color: blue;
}

.cell_triangle {
  width: 100%;
  height: 100%;
}

.cell_triangle:before {
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.cell_circle:before {
  border-radius: 100%;
}

.cell_triangle:before, .cell_circle:before, .cell_square:before {
  content: "";
  position: absolute;
  width: 80%;
  height: 80%;
  /*background-color: inherit;*/
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*width: 100%;*/
}


.cell_triangle:after, .cell_circle:after, .cell_square:after {
  content: "";
  position: absolute;
  inset: 0;
  /*width: 100%;*/
  /*height: 100%;*/
  background-color: gainsboro;
  z-index: -1;
  border-radius: inherit;
}